<div class="w3-container">
  <div class="w3-content">
    <div class="w3-bar w3-border w3-light-grey w3-margin-top">
      <a routerLink="/home" class="w3-bar-item w3-button" routerLinkActive="w3-green">Home</a>
      <a routerLink="/about" routerLinkActive="w3-green" class="w3-bar-item w3-button">About</a>
      <a routerLink="/app-list" routerLinkActive="w3-green" class="w3-bar-item w3-button">Apps</a>
    </div>
  </div>
  <div class="w3-content">
   <router-outlet></router-outlet>
  </div>
</div>